.about-mobile {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-banner-mobile {
    text-align: center;
    font-weight: 700;
    letter-spacing: 3vw;
    background: lightblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.about-body-mobile {
    font-size: large;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2.5vh;
    background-color: white;
    border-radius: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.about-opener-mobile {
    padding-bottom: 2vh;
    border: solid 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.about-carol-mobile {
    display: flex;
    flex-direction: row;
}
.about-carol-text-container-mobile {
    display: flex;
    flex-direction: column;
    min-height: 50%;
}

.carol-image-mobile {
    border-radius: 100px;
    max-width: 200px;
    max-height: 200px;
}

.about-main-mobile {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.about-main-text-mobile {
    max-width: 100%;
    padding-right: 2vw;
}

.weddingwire-widget-mobile {
    border: solid;
    text-align: center;
    color: red;
    background-color: #00ff00;
    display: flex;
    align-items: center;
    min-height: 95%;
}
.reviews-container-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
}
.reviews-title-mobile {
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    border: solid 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.loads-of-love-mobile {
    font-size: larger;
}