/* COMMENTS */
.comment-box-mobile {
    overflow-wrap: normal;
    max-width: 80vw;
}

.comment-container-mobile {
    max-width: 90vw;
}

.comment-header-mobile {
    padding: 0px;
    margin-bottom: 0px;
}

.splide__slide {
    align-content: center;
}