.contact-container-mobile {
    font-family: "Bellota Text", sans-serif;
    width: 80vw;
    margin-left: 10vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    align-items: center;
}

.contact-header-mobile {
    margin-top: 2.5vh;
    background-color: rgb(255, 209, 157);
    min-width: 100%;
    text-align: center;
}

.contact-top-mobile {
    display: flex;
    flex-direction: row;
}
.contact-info-mobile {
    display: flex;
    flex-direction: column;
}
.contact-top-component-mobile {
    width: 70vw;
    min-height: 50px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.contact-inputs-mobile {
    justify-content: center;
    align-items: center;
}
.contact-dropdowns-mobile {
    justify-content: center;
    align-items: center;
}

.contact-input-mobile {
    font-family: "Bellota Text", sans-serif;
    height: 25px;
    border: solid 1px #78c0b0ff;
    border-radius: 4px;
}
.contact-input-mobile:focus {
    font-family: "Bellota Text", sans-serif;
    height: 25px;
    border: solid 1px rgb(121, 224, 200);
    border-radius: 4px;
    outline: none !important;
}

.package-text-mobile {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.message-body-mobile {
    margin-left: 1vw;
    margin-bottom: 2.5vh;
}

.services-link-mobile {
    color:black;
    font-weight: 700;
    min-width: 30vw;
}

.body-input-mobile {
    min-height: 150px;
    width: 70vw;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5vh;
}