.footer{
    background-color: lightpink;
    margin-bottom: 0;
    min-width: calc(100%);
    font-family: "Elms Sans", sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.footer-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
}
.footer-bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-group {
    display: flex;
    flex-direction: row;
    min-width: 25vw;
}
.footer-group {
    display: flex;
    flex-direction: row;
    max-width: 20vw;
    min-width: 15vw;
}

.footer-contact-faq-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-left: 2vw;
}
.footer-contact-container {
    min-width: 30%;
    max-width: 30%;
    margin-bottom: 2vh;
}
.footer-faq-container {
    min-width: 30%;
    max-width: 30%;
    padding-right: 10px;
    padding-left: 2px;
}

.footer-address-group {
    display: flex;
    flex-direction: row;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 64px;
    max-width: 64px;
}

.link-container-fb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 15px;
}

.contact-info {
    padding-right: 5vw;
}

.copyright {
    text-align: center;
}

.email-input {
    display: flex;
    flex-direction: column;
    max-height: 20px;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 7.5vh;
}

.love-and-hope {
    font-weight: 700;
    min-width: 10vw;
    font-size: smaller;
}

.email-text {
    padding-right: .5vw;
}

.input-and-button {
    display: flex;
    flex-direction: row;
}