.contact-container {
    font-family: "Bellota Text", sans-serif;
    width: 80vw;
    margin-left: 10vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    align-items: center;
}

.contact-header {
    margin-top: 2.5vh;
    background-color: rgb(255, 209, 157);
    min-width: 100%;
    text-align: center;
}

.contact-top {
    display: flex;
    flex-direction: row;
}
.contact-info {
    display: flex;
    flex-direction: column;
}
.contact-top-component {
    width: 25vw;
    min-height: 50px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.contact-inputs {
    justify-content: center;
    align-items: center;
}
.contact-dropdowns {
    justify-content: center;
    align-items: center;
}

.contact-input {
    font-family: "Bellota Text", sans-serif;
    height: 25px;
    border: solid 1px #78c0b0ff;
    border-radius: 4px;
}
.contact-input:focus {
    font-family: "Bellota Text", sans-serif;
    height: 25px;
    border: solid 1px rgb(121, 224, 200);
    border-radius: 4px;
    outline: none !important;
}

.package-text {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.message-body {
    margin-left: 10vw;
    margin-bottom: 2.5vh;
}

.services-link {
    color:black;
    font-weight: 700;
}

.body-input {
    min-height: 150px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.5vh;
}