.widget-container {
    max-width: 20vw;
    padding: 2.5vh;
    border: solid 2px lightpink;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.weddingwireWidget__header {
    font-size: larger;
    font-weight: 700;
}

.weddingWireWidgetReview {
    border-radius: 10px;
    background-color: aquamarine;
    padding-bottom: 1vh;
    margin-bottom: 2.5vh;
    margin-top: 1vh;
    border: solid 1px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.weddingWireWidgetReview__header {
    height: 75px;
    background-color: rgb(255, 209, 157);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px black;
}
.weddingWireWidgetReview__title {
    font-weight: 700;
    font-size: larger;
    padding-top: 1vh;
}

.weddingWireWidgetReview__post {
    font-size: smaller;
    padding-left: 1vw;
    padding-right: 1vw;
}

.weddingWireWidgetReview__user {
    font-weight: 700;
}


.avatar {
    visibility: hidden !important;
    max-width: 0px;
}

