.footer{
    background-color: lightpink;
    margin-bottom: 0;
    min-width: calc(100%);
    font-family: "Elms Sans", sans-serif;
    max-width: 80vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.footer-top-row {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 80vw;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
}
.footer-bottom-row {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 80vw;
    align-items: center;
    justify-content: center;
}

.footer-group {
    display: flex;
    flex-direction: row;
    min-width: 25vw;
}
.footer-group {
    display: flex;
    flex-direction: row;
    max-width: 35vw;
    min-width: 15vw;
}

.footer-contact-faq-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-left: 2vw;
}
.footer-contact-container {
    min-width: 45%;
    max-width: 45%;
}
.footer-faq-container {
    min-width: 45%;
    max-width: 45%;
    padding-right: 50px;
    padding-left: 15px;
}

.footer-address-group {
    display: flex;
    flex-direction: row;
}

.knot-logo {
    max-width: 100px;
    max-height: 100px;
}
.iawpo-logo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 7.5vw;
}
.knot-container {
    max-width: 15vw;
    min-width: 15vw;
}
.iawpo-container {
    min-width: 100%;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 128px;
    max-width: 128px;
}

.link-container-fb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 15px;
}

.contact-info {
    padding-right: 5vw;
}

.copyright {
    text-align: center;
}

.email-input {
    display: flex;
    flex-direction: row;
    max-height: 20px;
    align-items: center;
    padding-left: 2vw;
}

.love-and-hope {
    font-weight: 700;
    min-width: 20vw;
}

.email-text {
    padding-right: .5vw;
}