/* MAIN PAGE*/
.Main-Logo {
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-style: bold;
  font-size: xx-large;
}
.Main-About {
  text-align: center;
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 255, 255);
  border-radius: 10px;
  max-width: 80vw;
  margin: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.Main-About-Italics {
  text-align: center;
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-size: medium;
  font-style: italic;
}
.Main-About-Bold {
  text-align: center;
  font-family: "Bellota Text", sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: bold;
}
.Main-About-Header {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  letter-spacing: 1lvw;
  font-size: xx-large;
  padding-bottom: 1vh;
}
.Main-Blurb {
  text-align: center;
  color: #242105;
  font-family: "Bellota Text", sans-serif;
  font-weight: 500;
  font-size: smaller;
  padding-bottom: 1vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
.Main-Slideshow {
  padding-left: 2vw;
  padding-right: 2vw;
  max-width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-height: 400px;
  border-radius: 2px;
}
.Main-Area {
  max-width: 80vw;
  margin-left: 10vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.Main-Comments {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  padding-left: 2vh;
  margin-left: 2vh;
  padding-right: 2vh;
  margin-right: 2vh;
  padding-top: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* MAIN PAGE OTHER */
.read-more-button-container {
  padding-bottom: 2.5vh;
}

.background {
  /* TODO: CHANGE IMAGE */
  background: url(https://static.wixstatic.com/media/120d097d261149d095391a4cae9e0efd.jpg/v1/fill/w_1920,h_776,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/120d097d261149d095391a4cae9e0efd.jpg);
  background-attachment: fixed;
  padding-bottom: 2.5vh;
}

/* SLIDES */
.slide {
  max-width: 40vw;
  max-height: 265px;
  object-fit: cover;
}
.slide-container {
  border-radius: 2px;
  max-width: 40vw;
  max-height: 265px;
  object-fit: cover;
  padding-bottom: 1vh;
}
.slide-image {
  max-width: 40vw;
  max-height: 265px;
  object-fit: cover;
  border-radius: 20px;
}

/* OPENER */
.Opener {
  display: flex;
}
.Opener-Blurb {
  max-width: 35vw;
  font-size: medium;
  padding-bottom: 1vh;
}
.Opener-Blurb-Column {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  padding-left: 2vh;
  margin-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 20px;
  background-color: rgb(255, 209, 157);
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}